<html xmlns:th="http://www.thymeleaf.org" >
<head>
</head>
<body>
<div th:fragment="footer">
    <!-- Jquery Library file -->
    <script src="../js/Jquery3.4.1.min.js"></script>

    <!-- --------- Owl-Carousel js ------------------->
    <script src="../js/owl.carousel.min.js"></script>

    <!-- ------------ AOS js Library  ------------------------- -->
    <script src="../js/aos.js"></script>

    <!-- Custom Javascript file -->
    <script src="../js/main.js"></script>
</div>
</body>
</html>