<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:fragment="header-css">
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type ="text/css" th:href="@{/css/all.css}" href="../../css/all.css">
    <link rel="stylesheet" type ="text/css" th:href="@{/css/owl.carousel.min.css}" href="../../css/owl.carousel.min.css">
    <link rel="stylesheet" type ="text/css" th:href="@{/css/owl.theme.default.min.css}" href="../../css/owl.theme.default.min.css">
    <link rel="stylesheet" type ="text/css" th:href="@{/css/aos.css}" href="../../css/aos.css">
    <link rel="stylesheet" type ="text/css" th:href="@{/css/Style.css}" href="../../css/Style.css">
    </div>
</head>
<body>
<div th:fragment="header">

   <nav class="nav">
        <div class="nav-menu flex-row">
            <div class="nav-brand">
                <a class="nava" href="#" >Prabhat</a>
            </div>
            <div class="toggle-collapse">
                <div class="toggle-icons">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
            <div>
                <ul class="nav-items">
                    <li class="nav-link">
                        <a class="nava" th:href="@{/home}">Home</a>
                    </li>
                    <li class="nav-link" sec:authorize="isAuthenticated()">
                        <a class="nava" th:href="@{/search}">Search</a>
                    </li>
                    <li class="nav-link">
                        <a class="nava" href="https://prabhatsharma.netlify.com">Resume</a>
                    </li>
					<li class="nav-link" sec:authorize="hasAuthority('ADMIN')">
                        <a class="nava" th:href="@{/admin/newPost}">New Post</a>
                    </li>
                    <li class="nav-link" sec:authorize="hasAuthority('ADMIN')">
                        <a class="nava" th:href="@{/admin/newPop}">New Pop</a>
                    </li>
                    <li class="nav-link" sec:authorize="hasAuthority('ADMIN')">
                        <a class="nava" th:href="@{/admin/settings}">Settings</a>
                    </li>
                    <li class="nav-link" sec:authorize="!isAuthenticated()">
                        <a class="nava" th:href="@{/login}">Login</a>
                    </li>
                    <li class="nav-link" sec:authorize="!isAuthenticated()">
                        <a class="nava" th:href="@{/registration}">Register</a>
                    </li>
					<li class="nav-link" sec:authorize="isAuthenticated()">
                        <a class="nava" th:href="@{/logout}">Logout</a>
                    </li>
                </ul>
            </div>
            <div class="social text-gray">
                <a href="https://www.github.com/PCS0725"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/PCS0725"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.instagram.com/prabhat_pcs"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>


            </div>
        </div>
    </nav>
</div>

</body>
</html>