<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="posts">

    <div class="starter-template panel" th:each="post : ${pager.posts}">
        <div class="panel-heading">
            <h1><a th:text="${post.title}" th:href="@{'/article/' + ${post.id}}">Title</a></h1>
            <div>Created by</div>
            <div><p th:text="${post.author}"></p>
            </div>
        </div>
        <h3 class="panel-body" th:text="${post.summary}">Body</h3>
        <br></br>
    </div>

</div>
</body>
</html>