<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head>
	<title>Article Page</title>
    <meta charset="UTF-8">
    <div th:replace="/fragments/header :: header-css"/>

</head>
<body>
<!--Had to do this-->
<div th:replace="/fragments/header :: header"/>

<!-- -------*Nav Bar Ends Here* --------->
</div>

<div class="container1">
    <h1 class = "title" th:text="${article.title}">My First Bootstrap Page</h1>
    <h4 class = "subHead"  th:text="${article.category}">Categories, Date</h4>
    <h6 class = "subSubHead" th:text="${article.author}">Author,read time</h6>
	<br>
    <div id = "content" th:utext="${article.content}"></div>
    <br><br>
    <div sec:authorize="hasAuthority('ADMIN')" >
        <div class="row">
            <a th:href="@{'/admin/editPost/{id}'(id=${article.id})}" class="col-md-2">
                <button type="button" class="btn post-btn" th:text="Edit">Edit</button>
            </a>

        </div>
    </div>

<!--Comments section-->
    <br><br>
<h3 class ="title2">Comments</h3>
<br><br>
<div th:each="comment : ${article.comments}">
    <div class="card">
        <h6 class = "subSubHead" th:text="${comment.commentor.name}">Categories, Date</h6>
        <p class = "commentContent" th:text="${comment.content}">Here goes the first Article. I had been watching <strong>netflix</strong>
            for quite a while now and what I feel is that it is a <code>huge</code> waste of time.
            Except for 2 or 3 good shows there, others are a complete shit.</p>
    </div>
</div>
    <br><br>
<div sec:authorize="isAuthenticated()">
    <div class="row">
        <a th:href="@{'/createComment/{id}'(id=${article.id})}" class="col-md-2">
            <button type="button" class="btn post-btn" th:text="Comment" style="background: var(--sky);">Comment</button>
        </a>
    </div>
</div>
</div>
<!-- /.container -->

<!-- Custom Javascript file -->
<div th:replace="/fragments/footer :: footer"/>

</body>
</html>