<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Comment</title>
    <meta charset="UTF-8">
    <div th:replace="/fragments/header :: header-css"/>
</head>
<body>

<div th:replace="/fragments/header :: header"/>

<div class="container1">
    <form autocomplete="off" action="#" th:action="@{/createComment}"
          th:object="${comment}" method="post" role="form">
            <h2 class="title">Write new comment</h2>
                        <label th:if="${#fields.hasErrors('content')}" th:errors="*{content}"
                               class="alert alert-danger"></label>
                        <textarea rows="5" cols="50" th:field="*{content}"
                                  placeholder="Put your comment here" class="form-control input-lg"/>
                    <input type="hidden" th:field="*{article}"/>
                    <input type="hidden" th:field="*{commentor}"/>
                    <br><br>
                        <button type="submit" class="btn commentbtn">Comment</button>

                </form>
            </div>
        </div>

    </div>

</div>
<!-- /.container -->
<div th:replace="/fragments/footer :: footer"/>

</body>
</html>