<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!--    <div th:replace="/fragments/header :: header-css"/>-->
</head>
<body>

<!--<div th:replace="/fragments/header :: header"/>-->
<!-- Standard error page for all errors: Use errormessage attribute from wherever you send the redirect to this page
Include a button to the homepage-->
<div class="container">

    <h1 th:if="${errorMessage}" th:utext="${errorMessage}"></h1>
    <h1 th:if="!${errorMessage}">Oh! that was a bad request</h1>
    <a href="home.html" th:href="@{/home}">Back to Home Page</a>

</div>
<div th:replace="/fragments/footer :: footer"/>
</body>
</html>