<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <div th:replace="/fragments/header :: header-css"/>
</head>
<body>
<div th:replace="/fragments/header :: header"/>
<h2 style = "text-align:center;color: #03c51e">Sorry bud, this is under construction</h2>
<!-- <form autocomplete="off" action="#" th:action="@{/search}" method="post" role="form">-->
<!--     <div class="form-group">-->
<!--         <button type="submit" class="btn btn-primary btn-block">Search</button>-->
<!--     </div>-->
<!-- </form>-->
<!-- <div class ="content" style="padding-top:10px">-->
<!--     <div class="row">-->
<!--         <div class="leftcolumn">-->
<!--             <div class="card" th:each="post : ${pager}">-->
<!--                 <a th:href="@{'/article/' + ${post.id}}">-->
<!--                     <h2 class="cardHead" th:text="${post.title}">TITLE HEADING</h2></a>-->
<!--                 <h5 class="author" th:text="${post.author}" >By Prabhat <span class="date">17 Mar 2020</span></h5>-->
<!--                 <div class="fakeimg" style="height:200px;">Image</div>-->
<!--                 <br>-->
<!--                 <p>In brief</p>-->
<!--                 <p class="summary" th:text="${post.summary}">Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>-->
<!--                 <br>-->
<!--                 <span style="color: rgb(248, 128, 31);"><strong>Comments&nbsp;</strong></span><span class="tag" th:text="${post.comments.size()}"></span>-->
<!--             </div>-->
<!--         </div>-->
<!--     </div>-->
<!-- </div>-->
<!--     </div>-->
<!-- </div>-->
<div th:replace="/fragments/footer :: footer"/>
</body>
</html>